numpy==1.26.4
opencv_python==4.10.0.84
pyyaml
matplotlib
scipy==1.13.0
scikit-sparse==0.4.15
tqdm==4.66.5
pyceres==2.3
kornia==0.8.0
faiss-cpu

# for visualization and 3dgs training
viser==0.2.11
imageio-ffmpeg
torchmetrics[image]
tensorly
nerfview
tensorboard
scikit-learn

# for demo
gradio
open3d
trimesh
# pycolmap

pypose


dm_control
mediapy
splines
natsort
mujoco
mujoco-mjx
plyfile
rawpy
openai
gsplat
